WCF.BinaryData.MTOM/WCF.BinaryData.MTOM.Client/Service References/TestService.Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestWithAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MessageID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AttachmentContentList" type="tns:ArrayOfAttachmentContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAttachmentContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentContent" nillable="true" type="tns:AttachmentContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContentData" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>