WCF.XmlDsig/WCF.XmlDSig.Client/Service References/TestClient/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.1" elementFormDefault="qualified" targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrimaryContent" type="tns:PrimaryContent" />
  <xs:complexType name="PrimaryContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SignificantData" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" />
  </xs:complexType>
</xs:schema>